<!DOCTYPE html>
<html lang="zh-CN">
<!-- ? Bootstrap ?? CSS ?? -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- ???Bootstrap????(??????) -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery??????bootstrap.min.js ???? -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- ??? Bootstrap ?? JavaScript ?? -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</br>
</br>

<div class="container">

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="./">RFC</a></li>
  <li role="presentation"><a href="../admin/AutoDeployment/deploy/">Deploy</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>




<h3><span class="label label-default">RFC Dashboard</span></h3>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong>  The system is still in the testing phase. If you have any better suggestion.  Let me know.
</div>
<table class="table table-hover">
<tr>
<td>RFC Number</td>
<td>Status</td>
<td>Server</td>
<td>Deploy Date</td>
<td></td>
<td></td>
</tr>
{% for post in lists %}
    <tr>
      <td><strong>{{ post.RFC_Number }}</strong></td>
      <td class="text-capitalize"><span class="label label-{{ post.SHOW_STATUS }}">{{ post.RFC_STATUS }}</span></td>
      <td>{{ post.Deploy_Server }}</td><td>{{ post.Deploy_Date }}</td>
      <td><!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#{{ post.id }}">
  Review SQL
</button>
<button type="button" class="btn btn-xs btn-info" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ post.Deploy_Log }}" data-trigger="focus" >
  Deploy Log
</button>

</td>
    </tr>

<div class="modal fade" id="{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review SQL</h4>
      </div>
      <div class="modal-body">
      {{ post.RFC_SQL }}
      </div>
       <div class="modal-footer">
      <footer>This RFC will be Deploy on the <span class="label label-primary">[{{ post.Deploy_Server}}]</span> on <span class="label label-info">[{{ post.Deploy_Date }}]</span></footer><br>


      </div>
    </div>
  </div>
</div>
{% endfor%}
</table>


<script>$(function () 
      { $("[data-toggle='popover']").popover();
      });
   </script>

<nav>
  <ul class="pager">
    {% if lists.has_previous %}
    <li><a href="?page={{ lists.previous_page_number }}">Previous</a></li>
	{% endif %}
	<li>{{ lists.number }}</li>
	 {% if lists.has_next %}
        <li><a href="?page={{ lists.next_page_number }}">Next</a></li>
	{% endif %}
  </ul>
</nav>


</div>

<div id="footer" class="container">
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-right">
        <p class="text-muted credit text-right" style="padding: 10px;">
        I have no patience for useless things.
        </p>
    </div>
</nav>
</div>

</html>
